<div class="col-md-12 shadow-lg rounded div-info" id="member_list">
   <h3>{{ title }}</h3>
   <input type="text" class="form-control" id="datatable-search-input" placeholder="Search"/>
   <table class="table" id="usersTable">
     <thead>
       <tr>
         <th scope="col" class="firstCol"></th>
         <th scope="col" class="firstCol">Name</th>
         <th scope="col">Role</th>
         <th scope="col">Organization</th>
         {% if executive_member %}
          <th scope="col">Edit</th>
         {% else%}
          <th scope="col">Contact</th>
         {% endif %}
       </tr>
     </thead>
   {% for our_member in our_members %}
     <tr>
       <td class="firstCol"><img class="photo_list" src="{{ url_for('static', filename='images/members/' + our_member.id|string + '.jpg') }}"></td>
       <!-- /static/images/executive_members/1.png -->
       <!-- /static/image/members/1.jpg -->
       <td class="firstCol">{{ our_member.name }}</td>
       <td>{{ our_member.role}}</td>
       <td>{{ our_member.organization}}</td>
       {% if executive_member %}
        <td><button class="btn" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('update_member', id=our_member.id) }}" data-bs-title="Update Member {{ our_member.name }}"><i class="bi bi-gear"></i></button></td>
       {% else%}
       <td><button class="btn" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('view_member', id=our_member.id) }}" data-bs-title="View Member {{ our_member.name }}"><i class="bi bi-person-rolodex"></i></button></td>
        <!-- <td><button class="btn" style="padding:0px" data-bs-toggle="modal" data-bs-target="#editMemberModal"><i class="bi bi-person-rolodex"></i></button></td> -->
       {% endif %}
     </tr>
   {% endfor %}
   </table>
   {% if executive_member %}
   <div class="d-flex justify-content-between">
       <div></div>
       <div>
         <button class="btn blueButton" style="padding:0px" data-bs-toggle="modal" data-bs-target="#defaultModal" data-bs-url="{{ url_for('add_member') }}" data-bs-title="Add New Member">Add New Member</button>
       </div>
  </div>

   {% endif %}
</div>
