{% extends 'base/base_iframe.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="/update_member/{{ member_to_update.id }}" method="POST">
    {{ form.hidden_tag() }}

    <strong>{{ form.name.label(class="form-label") }}</strong>
    {{ form.name(class="form-control", value=member_to_update.name) }}
    <strong>{{ form.role.label(class="form-label") }}</strong>
    {{ form.role(class="form-control", value=member_to_update.role) }}
    <strong>{{ form.email.label(class="form-label") }}</strong>
    {{ form.email(class="form-control", value=member_to_update.email) }}
    <strong>{{ form.telephone.label(class="form-label") }}</strong>
    {{ form.telephone(class="form-control", value=member_to_update.telephone) }}
    <strong>{{ form.english.label(class="form-label") }}</strong>
    {{ form.english(value=member_to_update.english) }}
    <strong>{{ form.french.label(class="form-label") }}</strong>
    {{ form.french(value=member_to_update.french) }}
    <br/>
    <strong>{{ form.preferable.label(class="form-label") }}</strong>
    {{ form.preferable(class="form-control", value=member_to_update.preferable) }}
    <strong>{{ form.organization.label(class="form-label") }}</strong>
    {{ form.organization(class="form-control", value=member_to_update.organization) }}
    <strong>{{ form.volunteers.label(class="form-label") }}</strong>
    {{ form.volunteers(class="form-control", value=member_to_update.volunteers) }}
    <br/>
    {{ form.submit(class="btn blueButton") }}
    <a class="btn btn-danger" href="{{ url_for('delete_member', id=member_to_update.id) }}">Delete</a>
  </form>

{% endblock %}
