{% extends 'base/base_iframe.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="/update_member/{{ member_to_update.id }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% if member_to_update.member_pic %}
     <img class="photo_big" src="{{ url_for('static', filename='upload/member_pics/' + member_to_update.member_pic|string ) }}">
    {% else %}
     <img class="photo_big" src="{{ url_for('static', filename='images/icons/user.png') }}">
    {% endif %}
    <br>
    <a class="btn blueButton" href="{{ url_for('update_member_password', id=member_to_update.id) }}">Upate Password</a>
    <br>

    <strong>{{ form.name.label(class="form-label") }}</strong>
    {{ form.name(class="form-control", value=member_to_update.name) }}
    <strong>{{ form.role.label(class="form-label") }}</strong>
    {{ form.role(class="form-control", value=member_to_update.role) }}
    <strong>{{ form.email.label(class="form-label") }}</strong>
    {{ form.email(class="form-control", value=member_to_update.email) }}
    <strong>{{ form.telephone.label(class="form-label") }}</strong>
    {{ form.telephone(class="form-control", value=member_to_update.telephone) }}
    <strong>{{ form.organization.label(class="form-label") }}</strong>
    {{ form.organization(class="form-control", value=member_to_update.organization) }}
    <strong>{{ form.english.label(class="form-label") }}</strong>
    {{ form.english(checked=member_to_update.english) }}<br/>
    <strong>{{ form.french.label(class="form-label") }}</strong>
    {{ form.french(checked=member_to_update.french) }}
    <select name="preferable" id="preferable" class="form-control">
      {% if member_to_update.preferable == "English" %}
        <option value="English" selected>English</option>
      {% else %}
        <option value="English">English</option>
      {% endif %}
      {% if member_to_update.preferable == "French" %}
        <option value="French" selected>French</option>
      {% else %}
        <option value="French">French</option>
      {% endif %}
    </select>
    <strong>{{ form.volunteers.label(class="form-label") }}</strong>
    {{ form.volunteers(class="form-control", value=member_to_update.volunteers) }}
    <strong>{{ form.member_pic.label(class="form-label") }}</strong>
    {{ form.member_pic(class="form-control", value=member_to_update.member_pic) }}

    <br>



    <br/>
    {{ form.submit(class="btn blueButton") }}
    <a class="btn btn-danger" href="{{ url_for('delete_member', id=member_to_update.id) }}">Delete</a>
  </form>
  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>

{% endblock %}
