{% extends 'base/base_iframe.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="/update_member_password/{{ member_to_update.id }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% if member_to_update.member_pic %}
     <img class="photo_big" src="{{ url_for('static', filename='upload/member_pics/' + member_to_update.member_pic|string ) }}">
    {% else %}
     <img class="photo_big" src="{{ url_for('static', filename='images/icons/user.png') }}">
    {% endif %}
    <br>

    <strong>{{ form.password_hash.label(class="form-label", id="password_hash_label") }}</strong>
    {{ form.password_hash(class="form-control", value="") }}
    <strong>{{ form.password_hash2.label(class="form-label", id="password_hash2_label") }}</strong>
    {{ form.password_hash2(class="form-control", value="") }}


    <br/>
    {{ form.submit(class="btn blueButton") }}
    <a class="btn btn-warning" href="{{ url_for('update_member', id=member_to_update.id) }}">Cancel</a>
  </form>
  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>

{% endblock %}
