{% extends 'base/base_iframe.html' %}
{% block content %}

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <form method="POST">
      {{ form.hidden_tag() }}

      <strong>{{ form.name.label(class="form-label") }}</strong>
      {{ form.name(class="form-control") }}

      <strong>{{ form.role.label(class="form-label") }}</strong>
      {{ form.role(class="form-control") }}

      <strong>{{ form.email.label(class="form-label") }}</strong>
      {{ form.email(class="form-control") }}

      <strong>{{ form.telephone.label(class="form-label") }}</strong>
      {{ form.telephone(class="form-control") }}

      <strong>{{ form.english.label(class="form-label") }}</strong>
      {{ form.english() }}

      <strong>{{ form.french.label(class="form-label") }}</strong>
      {{ form.french() }}<br/>

      <strong>{{ form.preferable.label(class="form-label") }}</strong>
      {{ form.preferable(class="form-control") }}

      <strong>{{ form.organization.label(class="form-label") }}</strong>
      {{ form.organization(class="form-control") }}

      <br/>
      {{ form.submit(class="btn blueButton") }}


    </form>

<br/><br/><br/>
{% endblock %}
