{% extends 'base/base_iframe.html' %}
{% block content %}

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <strong>{{ form.name.label(class="form-label") }}</strong>
      {{ form.name(class="form-control") }}

      <strong>{{ form.role.label(class="form-label") }}</strong>
      {{ form.role(class="form-control") }}

      <strong>{{ form.bio.label(class="form-label") }}</strong>
      {{ form.bio(class="form-control") }}

      <strong>{{ form.email.label(class="form-label") }}</strong>
      {{ form.email(class="form-control") }}

      <strong>{{ form.telephone.label(class="form-label") }}</strong>
      {{ form.telephone(class="form-control") }}

      <strong>{{ form.organization.label(class="form-label") }}</strong>
      {{ form.organization(class="form-control") }}

      <strong>{{ form.order.label(class="form-label") }}</strong>
      {{ form.order(class="form-control") }}

      <strong>{{ form.english.label(class="form-label") }}</strong>
      {{ form.english() }}

      <strong>{{ form.french.label(class="form-label") }}</strong>
      {{ form.french() }}<br/>

      <strong>{{ form.password_hash.label(class="form-label") }}</strong>
      {{ form.password_hash(class="form-control") }}

      <strong>{{ form.password_hash2.label(class="form-label") }}</strong>
      {{ form.password_hash2(class="form-control") }}


      <strong>{{ form.executive_member_pic.label(class="form-label") }}</strong>
      {{ form.executive_member_pic(class="form-control") }}



      <br/>
      {{ form.submit(class="btn blueButton") }}


    </form>

<br/><br/><br/>
{% endblock %}
