<div class="col-md-12 shadow-lg rounded div-info" id="paymentList">
   <h3>Payment Status For All Members</h3>
   <input type="text" class="form-control" id="datatable-search-input" placeholder="Search"/>
   <div class="form-group">
     <table class="table" id="usersTable">
       <thead>
         <tr>
           <th scope="col" class="firstCol">Name</th>
           <th scope="col">Role</th>
           <th scope="col">Organization</th>
           <th scope="col">Status</th>
           <th scope="col">Expiration Date</th>
           <th scope="col">Member Since</th>
           <th scope="col">Warned</th>
           <th scope="col">Edit</th>
         </tr>
       </thead>
     {% for our_member in our_members %}
       <tr>
         <td class="firstCol">{{ our_member.name }}</td>
         <td>{{ our_member.role }}</td>
         <td>{{ our_member.organization }}</td>
         <td><p class="paid">Paid</p></td>
         <td>2026/01/20</td>
         <td>2025/01/20</td>
         <td></td>
         <td><button class="btn" data-bs-toggle="modal" data-bs-target="#editPaymentModal"><i class="bi bi-gear"></i></button></td>
       </tr>
     {% endfor %}
     </table>
    <br/>
    <div class="d-flex justify-content-between">
        <div></div>
        <div>
           <a class="btn blueButton" href="{{ url_for('add_executive_member') }}" role="button">Download</a>
        </div>
   </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
