<div class="col-md-12 shadow-lg rounded div-info" id="taskRepartition">
   <h3>Task Repartition Among Members</h3>
   <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum congue ligula in interdum. Etiam sed felis non odio dapibus lacinia. Donec vel sodales justo, non fermentum est. Praesent non viverra massa. Integer faucibus, metus nec fermentum commodo, odio felis luctus mauris, in maximus felis tellus in risus. Aliquam sagittis sollicitudin ipsum eget fringilla. Phasellus nec quam odio.

Maecenas eu nulla lacinia, pellentesque tortor et, posuere odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et aliquet nisl. Vestibulum ut nibh nec risus tempor volutpat vitae nec quam. Nulla pharetra nisi dignissim leo vulputate, non efficitur neque scelerisque. Ut sed nunc porttitor, auctor urna sit amet, sagittis neque. Nulla faucibus felis vitae neque tempor, quis lacinia turpis tempus.
    </textarea>
    <br/>
    <div class="d-flex justify-content-between">
        <div></div>
        <div>
          <a class="btn blueButton" href="{{ url_for('add_executive_member') }}" role="button">Edit</a>
        </div>
   </div>

  </div>
</div>
