{% extends 'base/base_iframe.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message|safe }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="/update_executive_password/{{ executive_member_to_update.id }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% if executive_member_to_update.executive_member_pic %}
     <img class="photo_big" src="{{ url_for('static', filename='upload/executive_member_pics/' + executive_member_to_update.executive_member_pic|string ) }}">
    {% else %}
     <img class="photo_big" src="{{ url_for('static', filename='images/icons/user.png') }}">
    {% endif %}
    <br>

    <strong>{{ form.password_hash.label(class="form-label", id="password_hash_label") }}</strong>
    {{ form.password_hash(class="form-control", value=executive_member_to_update.password_hash) }}
    <strong>{{ form.password_hash2.label(class="form-label", id="password_hash2_label") }}</strong>
    {{ form.password_hash2(class="form-control", value=executive_member_to_update.password_hash) }}

    <br/>
    {{ form.submit(class="btn blueButton") }}
    <a class="btn btn-warning" href="{{ url_for('update_executive_member', id=executive_member_to_update.id) }}">Cancel</a>


  </form>
  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>

{% endblock %}
