{% extends 'base/base_iframe.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form action="/update_survey/{{ survey_to_update.id }}" method="POST">
    {{ form.hidden_tag() }}

    <strong>{{ form.title.label(class="form-label") }}</strong>
    {{ form.title(class="form-control", value=survey_to_update.title) }}
    <strong>{{ form.start.label(class="form-label") }}</strong>
    {{ form.start(class="form-control", value=survey_to_update.start) }}
    <strong>{{ form.end.label(class="form-label") }}</strong>
    {{ form.end(class="form-control", value=survey_to_update.end) }}
    <strong>{{ form.responders.label(class="form-label") }}</strong>
    {{ form.responders(class="form-control", value=survey_to_update.responders) }}
    <strong>{{ form.file.label(class="form-label") }}</strong>
    {{ form.file(class="form-control", value=survey_to_update.file) }}


    <br/>
    {{ form.submit(class="btn blueButton") }}
    <a class="btn btn-danger" href="{{ url_for('delete_survey', id=survey_to_update.id) }}">Delete</a>

  </form>

{% endblock %}
