{% extends 'base/base.html' %}
{% block content %}
  <br><br>
  <h1>{{ news.title }}</h1>
  <p class="newsType">{{ news.type }}</p>
  <img src="{{ url_for('static', filename='upload/news/' + news.file|string ) }}" style="width:100%" alt="">
  <p>{{ news.text|safe }}</p>
  <p><strong>Author:</strong> Aline Lima</p>
  <p><strong>Date:</strong> 2025-07-14</p>
  <a class="likeLink" onClick="likeNews({{ news.id }})"><p><strong><i class="bi bi-heart"></i> Like (<span id="likes">{{ news.likes }}</span>)</strong></p></a>

  <section >
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-body">
              <div class="card-body p-4">
                <h4 class="mb-0">Comments</h4>
                <br><br>
                {% for comment in comments %}

                <div class="d-flex flex-start">
                  <img class="rounded-circle shadow-1-strong me-3"
                    src="{{ url_for('static', filename='upload/member_pics/' + comment.pic|string ) }}" alt="avatar" width="60"
                    height="60" />
                  <div>
                    <h6 class="fw-bold mb-1">{{ comment.name }}</h6>
                    <div class="d-flex align-items-center mb-3">
                      <p class="mb-0">
                        {{ comment.time }}
                      </p>
                      <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                      <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                      <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                    </div>
                    <p class="mb-0">
                      {{ comment.text }}
                    </p>
                    <br>
                  </div>
                </div>
                {% endfor %}

              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
