{% extends 'base/base.html' %}
{% block content %}
  <h1>Activity Calendar</h1>
  <br>
  <br>

  {% for activity in activities %}

  <div class="card mb-3 {{ activity.gray_text }}">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='upload/activities/' + activity.file|string ) }}" class="card-img-top" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ activity.title }}</h5>
        <p class="card-text">{{ activity.text|safe }}</p>

        <p class="card-text"><strong>When: </strong>{{ activity.date.strftime('%A, %B %d, %Y') }} at {{ activity.hour }}</p>
        <p class="card-text"><strong>Where: </strong>{{ activity.address }}</p>
        <p class="timeDiff">{{ activity.time_difference}}
        {% if activity.party %}
          <img src="{{ url_for('static', filename='images/party.png' ) }}" alt="" style="width:50px">
        {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
{% endblock %}
