{% extends 'base/base.html' %}
{% block content %}

  <h1>General</h1>
  <video width="640" height="480" controls>
    <source src="{{ url_for('static', filename='tutorials/general.mov' ) }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <br><br><br>

  <h1>Executive Members - Create, Update, Delete</h1>
  <video width="640" height="480" controls>
    <source src="{{ url_for('static', filename='tutorials/general.mov' ) }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <br><br><br>

  <h1>Members - Create, Update, Delete</h1>
  <video width="640" height="480" controls>
    <source src="{{ url_for('static', filename='tutorials/general.mov' ) }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <br><br><br>


  <h1>Events</h1>
  <video width="640" height="480" controls>
    <source src="{{ url_for('static', filename='tutorials/general.mov' ) }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <br><br><br>




{% endblock %}
