{% extends 'base/base_iframe.html' %}
{% block content %}

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      {{ form.file.label(class="form-label") }}
      {{ form.file(class="form-control") }}

      {{ form.date.label(class="form-label") }}
      {{ form.date(class="form-control") }}

      {{ form.attendees.label(class="form-label") }}
      {{ form.attendees(class="form-control") }}



      <br/>
      {{ form.submit(class="btn blueButton") }}

    </form>
{% endblock %}
