{% extends 'base/base_iframe.html' %}
{% block content %}

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <strong>{{ form.file.label(class="form-label") }}</strong>
      {{ form.file(class="form-control", value=membership.file) }}

      <strong>{{ form.start.label(class="form-label") }}</strong>
      {{ form.start(class="form-control", value=membership.start) }}

      <strong>{{ form.end.label(class="form-label") }}</strong>
      {{ form.end(class="form-control", value=membership.end) }}

      <strong>{{ form.remembered.label(class="form-label") }}</strong>
      {{ form.remembered(class="form-control", value=membership.remembered) }}





      <br/>
      {{ form.submit(class="btn blueButton") }}

    </form>
{% endblock %}
